---
const { title, theme } = Astro.props;
---

<!doctype html>
<html lang="en" class={`main-${theme}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="share your social links" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/" class="link text-gradient">Links234</a>
      </nav>
      <div class="separator"></div>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  body {
    margin: 0;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .main-dracula {
    background: #282A36;
  }
  .main-nord {
    background: #2e3440;
  }
  .main-vaporwave {
    background: #300350;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .navbar {
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    height: 40px;
  }
  .link {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .separator {
    height: 2px;
    width: 100%;
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 0%;
  }
</style>
